.block_container{
    display: flex;
    justify-content: center;
}

.blocks{
    border-radius: 20px;
    border: solid 5px white;
}

.gauche{
    display: flex;
    flex-direction: column;
    min-width: 300px;
    max-width: 400px;
    height: 800px;
    margin-right:40px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: green; 
}

.jeu{
    min-width: 750px;
    height: 800px;
    margin-left: 40px;
    background-color: red;
}

.container{
    position: relative;
}
.container canvas{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50% );
}