body{
    background-image: url("../images/maisondenoel.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

h1{
    color: red;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 50px;
    text-align: center;
    margin: 20px;
}

h2{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    text-align: left;
    margin: 10px;
}

.score{
    color: red;
    align-self: center;
}

p{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;
    font-size: 18px;
    margin: 0;
}