button{
  align-self: center;
  border-radius: 4px;
  border: none;
  text-align: center;
  cursor: pointer;
  padding: 10px;
}

.MenuJouer {
  background-color: red;
  color: #FFFFFF;
  font-size: 20px;
  width: 100px;
  height: 50px;
  transition: all 0.5s;
  margin: 20px;
  }
  
.MenuJouer span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}
  
.MenuJouer span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}
  
.MenuJouer:hover span {
  padding-right: 25px;
}
  
.MenuJouer:hover span:after {
  opacity: 1;
  right: 0;
}


.facile{
  background-color: #F8DB1B;
  color: #FFFFFF;
  text-align: center;
  font-size: 20px;
  width: 200px;
  height: 50px;
  transition: all 0.5s;
  margin-top: 15px;
}

.facile:hover{
  color: red;
}

.normal{
  background-color: #FFB537;
  color: #FFFFFF;
  text-align: center;
  font-size: 20px;
  width: 200px;
  height: 50px;
  transition: all 0.5s;
  margin: 15px;
}

.normal:hover{
  color: red;
}

.difficile{
  background-color: #D79A10;
  color: #FFFFFF;
  text-align: center;
  font-size: 20px;
  width: 200px;
  height: 50px;
  transition: all 0.5s;
  margin-bottom: 15px;
}

.difficile:hover{
  color: red;
}