.fleches{
    display: grid;
    align-self: center;
    grid-template:  
    "haut1 haut2 haut3" 80px
    "gauche bas droite" 80px;
}

.fleche{
    width: 100px;
    height: 100px;
}

.fhaut{
    grid-area: haut2;
    align-self: center;
}

.fbas{
    grid-area: bas;
}

.fgauche{
    grid-area: gauche;
}

.fdroite{
    grid-area: droite;
}